body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.dashboard-top-row {
  display: flex;
  justify-content: space-around;
}

.dashboard-month-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #3e98c7;
  padding: 2rem 0;
}

.dashboard-month-picker .month {
  margin-right: 1rem;
  cursor: pointer;
}

.dashboard-month-picker .selected {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: solid 4px;
}

