/* layout

/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
 html {
	box-sizing: border-box;
}
/* *,
*:before,
*:after {
	box-sizing: inherit;
} */

/*
 * Global layout
 */

body {
	/*Custom font, loaded via Google */
	margin: 0;
	color: #545149;
	background-color: #f4f1ec;
	font-size: 17px;
}

aside {
	background-color: #d79922;
	/* Using an image as a background */
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	height: 400px;
} 

/* Tablet and mobile layout*/

@media only screen and (max-width: 1025px) {
	aside {
		width: 100%;
	}

	.container {
		margin: 0 auto;
		width: 90%;
	}
}

/*Desktop layout*/

@media only screen and (min-width: 1025px) {
	aside {
		width: 30%;
		float: left;
		margin: 220px 0px 220px 60px;
	}

	.container {
		width: 50%;
		float: right;
		margin: 160px 60px;
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 120px;
	background: #4056a1;
	padding: 1.5em 1.5em;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}

.nav--text {
	float: left;
	margin-left: 10px;
	font-size: 1.5em;
	font-family: "Bungee", cursive;
	color: #fff;
}
.page-content {
  margin-top: 80px;
}

.btn__text {
	position: fixed;
	top: 1.5em;
	right: 2.5em;
	cursor: pointer;
	color: #fff;
	float: right;
	text-decoration: none;
}

.btn--borderless {
	text-align: center;
	cursor: pointer;
	font-size: 22px;
	line-height: 20px;
	font-weight: 300;
}

.btn__icon {
	font-size: 1em;
	color: #f13c20;
	margin-top: 0.2em;
	animation: float 2s infinite ease;
}

@keyframes float {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}

	50% {
		transform: translateY(0.5rem);
		-webkit-transform: translateY(0.5rem);
	}

	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

.btn--bold {
	font-weight: 600;
}

.btn--scroll {
	display: block;
}

.round-btn {
	background-color: #f13c20;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	height: 90px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	outline: 0;
	display: none;
	margin: 250px 0px 0px 20px;
	color: #fff;
	border-radius: 100%;
	width: 90px;
	/*Cursor change to show it's a clickable button*/
	cursor: pointer;
	box-shadow: 0 3px 5px #ccc;
}

.round-btn__icon {
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1025px) {
	nav {
		background: none;
	}
}

.mentor {
	margin: 200px 250px;
	padding: 10px;
	border: 4px solid rgba(158, 144, 128, 0.424);
	border-radius: 50px;
	border-width: 3px;
	box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.192);
    transition: all 0.2s ease-in-out;
	background-color: #dad5d2e0;
}

.tweets {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3100px;
    overflow: hidden;
}

.mentor:hover {
	-webkit-box-shadow: 8px 3px 0px 0px rgba(153, 153, 153, 0.596);
	-moz-box-shadow: 8px 3px 0px 0px rgba(149, 149, 149, 0.589);
	box-shadow: 8px 8px 0px 0px rgba(175, 166, 154, 0.555);
	transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.mentor--header {
	padding: 20px;
	transition: all 0.25s ease-in-out;
}

.mentor--header:after {
	content: "";
	display: table;
	clear: both;
}

.mentor--avatar {
	float: left;
	width: 250px;
	height: 250px;
	border: solid rgba(158, 144, 128, 0.424);
	border-radius: 120px 120px 120px 120px;
	border-width: 2px;
}

.mentor--name {
	font-size: 24px;
	float: left;
	margin: 0.5em 0.5px 0px 0.5em;
	font-weight: 300;
    padding: 10px 20px;
}


.book--body {
	color:black;
	margin-right: 15px;
	font-size: 24px;
    padding: 20px 10px;
    text-align: right;
}

.monthly-pay {
	display: flex;
	justify-content: end;
}

.fa-icons {
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	font-size: 16px;
	padding-left: 10px;
}

.chat-icon:hover, .call-icon:hover, .tasks-icon:hover {
	color: #86314685;
}

.chat-icon, .call-icon, .tasks-icon {
	padding: 10px;
}

.footer {
	display: flex;
	justify-content: space-between;
	word-wrap: break-word;
}

.container-mentors {
	background-image: url(../../Icons/background.jpg);
	background-color: #cccccc; 
	height:3050px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover; 
}

.mentor--body {
	padding-left: 30px;
	word-wrap: break-word;
	color: black;
}

.mentor--desc {
  width: 100%;
  max-width: 600px;
  color:black;
  /* height: 200px; */
  float:right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  font-size: 18px;
  padding-top: 35px;
  word-wrap: break-word;
}

.mentor--desc h2 {
	padding-bottom:'10px';
	font-weight: bold;
	color: black;
}

.book-links {
  color:rgb(59, 8, 15);
  text-decoration: none;
  padding:0.5rem 1rem ;
  border: 2px solid rgb(61, 16, 22);
  border-radius: 30px;
  box-sizing: border-box;
}

.book-links:hover {
	background-color: #a5677163;
    border-radius: 30px;
    transition: all 0.2s ease-out;
}

@media only screen and (max-width: 1025px) {
	.profile__image {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 200px;
	}
}

@media only screen and (min-width: 1025px) {
	.profile__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
