/* layout */

/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
 html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
 * Global layout
 */

body {
	/*Custom font, loaded via Google */
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
	color: #545149;
	background-color: #f4f1ec;
	font-size: 24px;
}

aside {
	background-color: #d79922;
	/* Using an image as a background */
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	height: 400px;
}

/* Tablet and mobile layout*/

@media only screen and (max-width: 1025px) {
	aside {
		width: 100%;
	}

	.container {
		margin: 0 auto;
		width: 90%;
	}
}

/*Desktop layout*/

@media only screen and (min-width: 1025px) {
	aside {
		width: 30%;
		float: left;
		margin: 220px 0px 220px 60px;
	}

	.container {
		width: 50%;
		float: right;
		margin: 160px 60px;
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 120px;
	background: #4056a1;
	padding: 1.5em 1.5em;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}

.nav--text {
	float: left;
	margin-left: 10px;
	font-size: 1.5em;
	font-family: "Bungee", cursive;
	color: #fff;
}
.page-content {
  margin-top: 120px;
}

.btn__text {
	position: fixed;
	top: 1.5em;
	right: 2.5em;
	cursor: pointer;
	color: #fff;
	float: right;
	text-decoration: none;
}

.btn--borderless {
	text-align: center;
	cursor: pointer;
	font-size: 22px;
	line-height: 20px;
	font-weight: 300;
}

.btn__icon {
	font-size: 1em;
	color: #f13c20;
	margin-top: 0.2em;
	animation: float 2s infinite ease;
}

@keyframes float {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}

	50% {
		transform: translateY(0.5rem);
		-webkit-transform: translateY(0.5rem);
	}

	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

.btn--bold {
	font-weight: 600;
}

.btn--scroll {
	display: block;
}

.round-btn {
	background-color: #f13c20;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	height: 90px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	outline: 0;
	display: none;
	margin: 250px 0px 0px 20px;
	color: #fff;
	border-radius: 100%;
	width: 90px;
	/*Cursor change to show it's a clickable button*/
	cursor: pointer;
	box-shadow: 0 3px 5px #ccc;
}

.round-btn__icon {
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1025px) {
	nav {
		background: none;
	}
}

.mentor {

	margin: 200px 200px;
	padding: 10px;
	border: 4px solid #545149;
}

.mentor:hover {
	-webkit-box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
	-moz-box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
	box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
}

.mentor--header {
	padding: 8px;
	transition: all 0.25s ease-in-out;
}

.mentor--header:after {
	content: "";
	display: table;
	clear: both;
}

.mentor--avatar {
	float: left;
	width: 250px;
	height: 250px;
	padding: 4px;
}

.mentor--name {
	font-size: 24px;
	float: left;
	margin: 0.5em 0.5px 0px 0.5em;
	font-weight: 300;
  padding: 10px 20px;
}


.book--body {
	color:black;
	margin-right: 15px;
	font-size: 24px;
  padding: 20px 10px;
  text-align: right;
}

.mentor--body {
	padding: 10px 20px;
	word-wrap: break-word;

}

 .mentor--desc {

  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  height: 200px;
  float:right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

}


.book-links {
  color:black;
  text-decoration: none;
  padding:0.5rem 1rem ;
  border: 2px solid black;
  box-sizing: border-box;
}



@media only screen and (max-width: 1025px) {
	.profile__image {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 200px;
	}
}

@media only screen and (min-width: 1025px) {
	.profile__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
