.calendar {
  width: 100%;
  margin: 0 3rem;
  background: white;
  padding: 1rem;
  border-radius: 30px;
  border: solid rgba(158, 144, 128, 0.424);
  box-shadow: 3px 1px 3px -1px  rgba(175, 166, 154, 0.555);
  transition: all 0.2s ease-in-out;

}

.calendar:hover {
  box-shadow: 3px 1px 3px -1px rgba(175, 166, 154, 0.555);
	transform: scale(1.02);
  transition: all 0.6s ease-in-out;
}

.calendar-day {
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 14.2857%;
  padding: 1rem;
}

.calendar-day.has-call {
  background-color: rgba(155, 75, 75, 0.753);
  border-radius: 20px;
  color: white;
}

.calendar-day:hover {
  background-color: #d8b2b742;
  border-radius: 20px;
  cursor: pointer;
}

.calendar-week.header .calendar-day {
  font-weight: bold;
}

.calendar-day.empty:hover,
.calendar-week.header .calendar-day:hover {
  background-color: white;
}

.calendar-legend {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.calendar-legend > span {
  display: inline-block;
  background-color: rgba(155, 75, 75, 0.753);
  border-radius: 20px;
  padding: 1rem;
  margin-right: 0.5rem;
}
