.mentor-card {
  color: #3e98c7;
  background-color: white;
  border-radius: 1rem;
  display: inline-flex;
  padding: 1rem;
  flex-direction: column;
}

.mentor-image {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.mentor-image > img {
  margin-right: 2rem;
}

.mentor-card--mentor-image {
  border-radius: 50%;
  height: 8rem;
}

.mentor-card-row {
  display: flex;
}

/*
.mentor-card--mentor-speciality {

}
.mentor-card--mentor-name {

}


.mentor-card--mentor-location {

}

.mentor-card--mentor-language {

} */
