.mentor-dashboard-container {
    background-image: url(../../../Icons/background4.jpg);
	background-color: #cccccc; 
	height:1010px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover; 
}