.login-page {
   display: flex;
  justify-content:center;
  background-image: url(../../Icons/Welcome.png);
  background-color: #cccccc; 
  height:704px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}


.login-container {
    margin-top: 70px;
    width: 400px;
    max-height: 450px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
    
}

.login-container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.login-container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.login-container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.login-container .login-email .input-group input:focus, .login-container .login-email .input-group input:valid {
    border-color: rgb(141, 61, 61);
}

.login-container .login-email .input-group .btn {
    font-family:'Montserrat', sans-serif;
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: rgb(119, 53, 53);
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.login-container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: rgba(155, 75, 75, 0.753);
}

.login-register-text,
button .login-register-text  {
    color: #111;
    font-weight: 580;
    padding-bottom: 15px;
}

@media (max-width: 430px) {
    .login-container {
        width: 300px;
    }
}